:root {
  --bg-dark: hsl(0, 0%, 4%);
  --bg: hsl(0, 0%, 7%);
  --bg-light: hsl(0, 0%, 14%);

  /* Temporary Accent Colors */
  --clr-primary: hsl(202, 47%, 50%);
  --clr-secondary: hsl(259, 71%, 58%);

  --clr-danger: hsl(359, 72%, 50%);

  /* Timeline Card Borders */
  --clr-card-1: #d0b579;
  --clr-card-2: #d07979;
  --clr-card-3: #79d089;
  --clr-card-4: #7981d0;

  --font-family: "Manrope", sans-serif;

  --text-color: hsl(0, 0%, 93%);
  --text-dimmed: hsl(0, 0%, 70%); /* temp dimmed value */

  --normal-gap: 20px;
  --normal-br: 10px; /* br for border radius */
  --normal-shadow: 4px 4px 12px hsla(0, 0%, 0%, 0.25); /* box-shadow */
}

body {
  background-color: var(--bg-dark);
  color: var(--text-color);

  /* Default Font */
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ===== TEMP Text Levels ===== */
/* affects: Section Titles */
h2 {
  font-size: 1.125rem;
  font-weight: 700;
}

/* affects: Graph Area Titles */
h3 {
  font-size: 1rem;
  font-weight: 600;
}

/* affects: Timeline Buttons */
button {
  font-size: 1rem;
  font-weight: 700;
}

.timeline-card {
  font-size: 0.938rem;
  font-weight: 500;
}
/* ============================ */

#main-container {
  height: 100vh;
  width: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--normal-gap);
}

/* The graph and timeline sections containers */
.section-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: calc(var(--normal-gap) / 2);
}

/* The main sections' bg boxes */
.bg-box {
  height: 825px;

  background-color: var(--bg);
  border-radius: calc(var(--normal-br) * 1.5);
  padding: var(--normal-gap);

  box-shadow: var(--normal-shadow);
}
